body {
    font-size: 1em;
    font-family: verdana;
    font-color: black;
}

.display-center-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-center-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.display-center-line form {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 85vh;
    width: 55vh;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box {
    padding: 1.5rem;
}

.input-field input {
    line-height: 40px;
    font-size: 1.1em;
}

.input-field {
    padding: 1rem;
}

.blue-button {
    font-size: 1.5em;
    background-color: #207FEE;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    width: 205px;
    height: 64px;
    text-align: center;
    cursor: pointer;
}

.subscribe-button {
    font-size: 1.5em;
    background-color: #F69F1D;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    width: 205px;
    height: 64px;
    text-align: center;
    cursor: pointer;
}

.yellow-button {
    font-size: 1.5em;
    background-color: #F69F1D;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    width: 151px;
    height: 62px;
    text-align: center;
    cursor: pointer;
}

.logout-link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 50px;

}

.nav-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-left {
    color: #333;
}

.nav-right a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.nav-right a:visited {
    cursor: pointer;
    color: black;
}

.nav-right a.active {
    color: #1E90FF;
}

#looking-for-email {
    position: relative;
    left: -230px;
    top: 60px;
    font-size: 1.1em;

}

#looking-for-email-input-field {
padding: 1rem;
    line-height: 10px;
    font-size: 1.1em;
    width: 400px;

}



