<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page d'ajout d'une relation</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
    <h1>ajouter relation page</h1>
    <nav>
        <div>
            <a href="transfert">Transférer</a>
            <a href="profil">Profil</a>
            <a href="ajouter_relation">Ajouter relation</a>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button>Se deconnecter</button>
            </form>
        </div>
    </nav>

    <hr />

    <div th:if="${success}" role="alert">
        <strong>Relationship Created Successfully!</strong>
    </div>

    <div>Chercher une relation</div>
    <form method="post" th:action="@{/ajouter_relation}" th:object="${addRelationDto}">
        <input type="hidden" th:field="*{currentUserId}"/>
        <input type="hidden" th:field="*{currentUserEmail}"/>
        <div>
            <input th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}"
               th:errorclass="text-danger"
               th:errors="*{email}"></p>
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    </form>


</body>

</html>