<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page d'inscription</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>
    <h1>Inscription page</h1>
    <a href="connexion.html">Pay My Buddy</a>

    <hr />

    <div th:if="${success}" role="alert">
        <strong>Account Created Successfully!</strong>
        <a href="/connexion">Connexion</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
                aria-label="close"></button>
    </div>

    <form method="post" th:object="${registerDto}" th:action="@{/inscription}">
        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />

        <label>Username*</label>
        <div>
            <input th:field="*{userName}">
            <p th:if="${#fields.hasErrors('userName')}"
               th:errorclass="text-danger"
               th:errors="*{userName}"></p>
        </div>

        <label>Mail*</label>
        <div>
            <input th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}"
               th:errorclass="text-danger"
               th:errors="*{email}"></p>
        </div>

        <label>Password*</label>
        <div>
            <input class="form-control" type="password"
                   th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}"
               th:errorclass="text-danger"
               th:errors="*{password}"></p>
        </div>

        <div>
            <button type="submit">S'inscrire</button>
        </div>

    </form>






</body>

</html>