<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page d'inscription</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <header>
        <h1>Inscription page</h1>
    </header>

    <main>
        <div class="display-center-class">
            <div class="container">

                <div class="box">
                    <a href="connexion">
                        <button class="subscribe-button">Pay My Buddy</button>
                    </a>
                </div>

                <div th:if="${success}" role="alert" class="box">
                    Account Created Successfully!
                </div>

                <form method="post" th:object="${registerDto}" th:action="@{/inscription}">

                    <div class="input-field">
                        <input th:field="*{userName}" required placeholder="Username" minlength="4" maxlength="15">
                        <p th:if="${#fields.hasErrors('userName')}"
                           th:errorclass="text-danger"
                           th:errors="*{userName}"></p>
                    </div>

                    <div class="input-field">
                        <input th:field="*{email}" required placeholder="Mail">
                        <p th:if="${#fields.hasErrors('email')}"
                           th:errorclass="text-danger"
                           th:errors="*{email}"></p>
                    </div>

                    <div class="input-field">
                        <input th:field="*{password}" required type="password" placeholder="Mot de passe">
                        <p th:if="${#fields.hasErrors('password')}"
                           th:errorclass="text-danger"
                           th:errors="*{password}"></p>
                    </div>


                    <div class="box">
                        <input type="submit" value="S'inscrire" class="blue-button"/>
                    </div>

                </form>

            </div>
        </div>
    </main>
</body>
</html>