<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page de profil</title>
    <meta name="description" content="Page de profil Pay My Buddy - Modifier les infos liées au compte">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <nav>
        <div class="nav-container">
            <div class="nav-left">
                <Strong>Pay My Buddy</Strong>
            </div>
            <div class="nav-right">
                <a href="transfert">Transférer</a>
                <a href="profil" class="active">Profil</a>
                <a href="ajouter_relation">Ajouter relation</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Se déconnecter" class="logout-link">
                </form>
            </div>
        </div>
    </nav>

    <main>
        <div th:if="${success}" role="alert" id="msg-profile-update">Profil mise à jour !</div>
        <div id="profile-form">
            <form method="post" th:object="${modifyProfileDto}" th:action="@{/profil}">
                <input type="hidden" th:field="*{currentUserId}"/>

                <div class="profile-form">
                    <label>Username</label>
                    <div class="input-field">
                        <input th:field="*{userName}" th:placeholder="*{currentUserName}" id="profile-form-username-field">
                        <p th:if="${#fields.hasErrors('userName')}"
                           th:errorclass="text-danger"
                           th:errors="*{userName}"
                        class="error-msg-profile"></p>
                    </div>
                </div>

                <div class="profile-form">
                    <label>Mail</label>
                    <div class="input-field">
                        <input th:field="*{email}" th:placeholder="*{currentEmail}" id="profile-form-email-field" >
                        <p th:if="${#fields.hasErrors('email')}"
                           th:errorclass="text-danger"
                           th:errors="*{email}"
                        class="error-msg-profile"></p>
                    </div>
                </div>

                <div class="profile-form">
                    <label>Mot de passe</label>
                    <div class="input-field">
                        <input type="password" placeholder="mot de passe" id="profile-form-pwd-field"
                               th:field="*{password}">
                        <p th:if="${#fields.hasErrors('password')}"
                           th:errorclass="text-danger"
                           th:errors="*{password}"
                        class="error-msg-profile"></p>
                    </div>
                </div>

                <div>
                    <button type="submit" class="yellow-button" id="profile-modifier-button">Modifier</button>
                </div>

                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Error message</p>
                </div>
            </form>

        </div>

    </main>
</body>

</html>