<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page de transfert</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <h1>Transfer page</h1>
    <nav>
        <div>
            <a href="transfert">Transférer</a>
            <a href="profil">Profil</a>
            <a href="ajouter_relation">Ajouter relation</a>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button>Se deconnecter</button>
            </form>
        </div>
        <form th:action="@{/transfert}" method="post" th:object="${transactionDto}">
            <select name="connectionId" class="form-select" required>
                <option value="" selected disabled>Sélectionner une relation</option>
                <li th:each="connection : ${transactionDto.relationList}">
                    <option th:value="${connection.userId}"
                            th:text="${connection.userName}">Connection Name</option>
                </li>
            </select>
            <div>
                <label>Description</label>
                <input th:field="${transactionDto.description}">
                <p th:if="${#fields.hasErrors('description')}"
                   th:errorclass="text-danger"
                   th:errors="${transactionDto.description}"></p>
            </div>
            <div>
                <input type="number" name="quantity" value="1" min="1" max="10000" step="1"
                th:field="*{transactionAmount}">
            </div>
            <button type="submit">Payer</button>
        </form>


    </nav>

</body>

</html>
