<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page de transfert</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>

    <nav>
        <div class="nav-container">
            <div class="nav-left">
                <Strong>Pay My Buddy</Strong>
            </div>
            <div class="nav-right">
                <a href="transfert" class="active">Transférer</a>
                <a href="profil">Profil</a>
                <a href="ajouter_relation">Ajouter relation</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Se déconnecter" class="logout-link">
                </form>
            </div>
        </div>
    </nav>

        <div align="center">
            <div style="border-style:solid; width:500px">
                <h1>Transaction Form</h1>
                <div th:if="${success}" role="alert">
                    <strong>Money Sent !</strong>
                </div>
                <form method="post" th:action="@{/transfert}" th:object="${transactionDto}">
                    <input type="hidden" th:field="*{senderId}"/>

                    <label>Friends List:</label>
                    <select th:field="*{receiverId}">
                        <option th:each="relation : *{relationList}" th:value="${relation.userId()}" th:text="${relation.userName()}">User Connection</option>
                    </select>

                    <label>Description:</label>
                    <input th:field="*{description}" placeholder="Description">

                    <label>Montant</label>
                    <input type="number" name="quantity" value="1" min="1" max="10000" step="1"
                           th:field="*{transactionAmount}">
                    <button type="submit">Payer</button>
                </form>
            </div>
        </div>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Relations</th>
                    <th>Description</th>
                    <th>Montant</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactionDto.getTransactionHistory()}">
                    <td th:text="${transaction.userName()}">user name</td>
                    <td th:text="${transaction.description()}">description</td>
                    <td th:text="${transaction.transactionAmount}">100</td>
                </tr>
                </tbody>
            </table>

        </div>



</body>

</html>
