<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Page de transfert</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>

<body>

    <nav>
        <div class="nav-container">
            <div class="nav-left">
                <Strong>Pay My Buddy</Strong>
            </div>
            <div class="nav-right">
                <a href="transfert" class="active">Transférer</a>
                <a href="profil">Profil</a>
                <a href="ajouter_relation">Ajouter relation</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Se déconnecter" class="logout-link">
                </form>
            </div>
        </div>
    </nav>

    <main>

        <div th:if="${success}" role="alert" id="msg-money-sent">Transfert effectué !</div>

        <div class="display-center-line">

            <form method="post" th:action="@{/transfert}" th:object="${transactionDto}" class="transfer-form">
                <input type="hidden" th:field="*{senderId}"/>

                <select th:field="*{receiverId}" class="transfer-input" required id="transfer-select-relation">
                    <option value="" selected>Sélectionner une relation</option>
                    <option th:each="relation : *{relationList}"
                            th:value="${relation.userId()}"
                            th:text="${relation.userName()}"></option>
                </select>

                <input th:field="*{description}" placeholder="Description" class="transfer-input" id="transfer-description">

                <div class="amount-input-wrapper">
                    <input type="number" name="quantity" value="1" min="1" max="10000" step="1"
                           th:field="*{transactionAmount}" class="transfer-input" id="transfer-select-amount">

                    <span class="currency-symbol">€</span>
                </div>

                <div class="box">
                    <button type="submit" class="blue-button" id="transfer-button-payer">Payer</button>
                </div>
            </form>
        </div>

        <div class="transaction-history">

            <table>
                <caption>Mes Transactions</caption>
                <tr>
                    <th>Relations</th>
                    <th>Description</th>
                    <th>Montant</th>
                </tr>

                <tr th:each="transaction : ${transactionDto.getTransactionHistory()}">
                    <td th:text="${transaction.userName()}"></td>
                    <td th:text="${transaction.description()}"></td>
                    <td th:text="${transaction.transactionAmount + ' €'}"></td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>
